set timeout=5
set default=0

menuentry "OS64 1.0" {
    set gfxpayload=text
    multiboot2 /boot/kernel.bin bootmode=normal
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 CLI Mode" {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/kernel.bin bootmode=cli console=text
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 1920x1080 Mode" {
    insmod all_video
    set gfxmode=1920x1080,auto
    terminal_output gfxterm
    set gfxpayload=1920x1080x32
    multiboot2 /boot/kernel.bin bootmode=normal screen=large
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 1280x720 Mode" {
    insmod all_video
    set gfxmode=1280x720,auto
    terminal_output gfxterm
    set gfxpayload=1280x720x32
    multiboot2 /boot/kernel.bin bootmode=normal
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 1024x768 Mode" {
    insmod all_video
    set gfxmode=1024x768,auto
    terminal_output gfxterm
    set gfxpayload=1024x768x32
    multiboot2 /boot/kernel.bin bootmode=normal
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 Debug Mode (text)" {
    insmod all_video
    set gfxmode=auto
    terminal_output gfxterm
    set gfxpayload=text
    multiboot2 /boot/kernel.bin bootmode=debug
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "OS64 1.0 Recovery Mode (serial)" {
    set gfxpayload=text
    multiboot2 /boot/kernel.bin bootmode=recovery console=serial
    module2 /boot/initrd.tar initrd
    boot
}

menuentry "Mini64 Rescue System" {
    set gfxpayload=text
    multiboot2 /boot/mini64/mini64.bin
    module2 /boot/kernel.bin kernel
    module2 /boot/initrd.tar initrd
    module2 /boot/os64-boot.img bootloader
    boot
}
